In [13]:
import pandas as pd
import os

In [14]:
os.getcwd()

'C:\\Users\\Merit\\Desktop\\Project'

In [15]:
os.chdir(r"C:\\Users\\Merit\\Desktop\\Project")

In [16]:
NameParsing=pd.read_excel("Juhi_Exercise1.xlsx",sheet_name="Name Parsing")

In [17]:
# print(NameParsing)

df1= pd.DataFrame(NameParsing)
df1
name = df1["Name"]
name

0                 Fares Al-Hejailan
1                     David Almroth
2                        Aled Batey
3                       Simone Bono
4                 Christopher Davis
5                 Thijs P. Flokstra
6                     Daniel French
7                   Iñaki Gabilondo
8                      Andrew Hagan
9                  Dr. Mario Hüther
10                       Kyle Lakin
11                         Max Lang
12             Dr. Frank Laudenklos
13                   Michael Levitt
14               Francesco Lombardo
15                    Mandeep Lotay
16                Haris Meyer Hanif
17               Alexander Mitchell
18                        Thomas Ng
19                  Jerome Ranawake
20                      Brian Rance
21                      Denise Ryan
22                  Cristina Esteve
23                     Koen Vanlaer
24               Dr. Dennis Chinnow
25    Vanessa Steiner (née Lawrenz)
26                        Mehdi Ali
27                     Michael Blau
28                    Tabasam Faqir
29                     Maxim Frolov
30                  Andrea Giaretta
31                     Kate Hatcher
32                    Tumise Jegede
33                      Peter Mason
34                   Alberto Nurzia
35                   Walid J. Salib
36                  Claudia Cavalli
37                    Julia Horbach
38                    Aino Makisalo
39                  Skyler Splinter
40                     Yara Bevaart
Name: Name, dtype: object

In [10]:
df6= pd.DataFrame(name)

In [11]:
df6

                             Name
0               Fares Al-Hejailan
1                   David Almroth
2                      Aled Batey
3                     Simone Bono
4               Christopher Davis
5               Thijs P. Flokstra
6                   Daniel French
7                 Iñaki Gabilondo
8                    Andrew Hagan
9                Dr. Mario Hüther
10                     Kyle Lakin
11                       Max Lang
12           Dr. Frank Laudenklos
13                 Michael Levitt
14             Francesco Lombardo
15                  Mandeep Lotay
16              Haris Meyer Hanif
17             Alexander Mitchell
18                      Thomas Ng
19                Jerome Ranawake
20                    Brian Rance
21                    Denise Ryan
22                Cristina Esteve
23                   Koen Vanlaer
24             Dr. Dennis Chinnow
25  Vanessa Steiner (née Lawrenz)
26                      Mehdi Ali
27                   Michael Blau
28                  Tabasam Faqir
29                   Maxim Frolov
30                Andrea Giaretta
31                   Kate Hatcher
32                  Tumise Jegede
33                    Peter Mason
34                 Alberto Nurzia
35                 Walid J. Salib
36                Claudia Cavalli
37                  Julia Horbach
38                  Aino Makisalo
39                Skyler Splinter
40                   Yara Bevaart

df6

In [36]:
 df6.to_dict('dict')

{'Name': {0: 'Fares Al-Hejailan',
  1: 'David Almroth',
  2: 'Aled Batey',
  3: 'Simone Bono',
  4: 'Christopher Davis',
  5: 'Thijs P. Flokstra',
  6: 'Daniel French',
  7: 'Iñaki Gabilondo',
  8: 'Andrew Hagan',
  9: 'Dr. Mario Hüther',
  10: 'Kyle Lakin',
  11: 'Max Lang',
  12: 'Dr. Frank Laudenklos',
  13: 'Michael Levitt',
  14: 'Francesco Lombardo',
  15: 'Mandeep Lotay',
  16: 'Haris Meyer Hanif',
  17: 'Alexander Mitchell',
  18: 'Thomas Ng',
  19: 'Jerome Ranawake',
  20: 'Brian Rance',
  21: 'Denise Ryan',
  22: 'Cristina Esteve',
  23: 'Koen Vanlaer',
  24: 'Dr. Dennis Chinnow',
  25: 'Vanessa Steiner (née Lawrenz)',
  26: 'Mehdi Ali',
  27: 'Michael Blau',
  28: 'Tabasam Faqir',
  29: 'Maxim Frolov',
  30: 'Andrea Giaretta',
  31: 'Kate Hatcher',
  32: 'Tumise Jegede',
  33: 'Peter Mason',
  34: 'Alberto Nurzia',
  35: 'Walid J. Salib',
  36: 'Claudia Cavalli',
  37: 'Julia Horbach',
  38: 'Aino Makisalo',
  39: 'Skyler Splinter',
  40: 'Yara Bevaart'}}

In [18]:
from nameparser import HumanName
import pandas as pd
 
df = pd.DataFrame(name)

df["title"] = df["Name"].apply(lambda x: HumanName(x).title)
df["first"] = df["Name"].apply(lambda x: HumanName(x).first)
df["middle"] = df["Name"].apply(lambda x: HumanName(x).middle)
df["last"] = df["Name"].apply(lambda x: HumanName(x).last) 
df.drop('Name', axis=1)

   title        first middle         last
0               Fares         Al-Hejailan
1               David             Almroth
2                Aled               Batey
3              Simone                Bono
4         Christopher               Davis
5               Thijs     P.     Flokstra
6              Daniel              French
7               Iñaki           Gabilondo
8              Andrew               Hagan
9    Dr.        Mario              Hüther
10               Kyle               Lakin
11                Max                Lang
12   Dr.        Frank          Laudenklos
13            Michael              Levitt
14          Francesco            Lombardo
15            Mandeep               Lotay
16              Haris  Meyer        Hanif
17          Alexander            Mitchell
18             Thomas                  Ng
19             Jerome            Ranawake
20              Brian               Rance
21             Denise                Ryan
22           Cristina              Esteve
23               Koen             Vanlaer
24   Dr.       Dennis             Chinnow
25            Vanessa             Steiner
26              Mehdi                 Ali
27            Michael                Blau
28            Tabasam               Faqir
29              Maxim              Frolov
30             Andrea            Giaretta
31               Kate             Hatcher
32             Tumise              Jegede
33              Peter               Mason
34            Alberto              Nurzia
35              Walid     J.        Salib
36            Claudia             Cavalli
37              Julia             Horbach
38               Aino            Makisalo
39             Skyler            Splinter
40               Yara             Bevaart

In [27]:
# from nameparser import HumanName
# import pandas as pd
# import time
 
# df = pd.DataFrame(df6)
# df["names"]= df["Name"]
# # time.sleep(5)
# df["title"] = df["Name"].apply(lambda x: HumanName(x).title)
# df["first"] = df["Name"].apply(lambda x: HumanName(x).first)
# df["middle"] = df["Name"].apply(lambda x: HumanName(x).middle)
# df["last"] = df["Name"].apply(lambda x: HumanName(x).last) 

# df.drop('Name', axis=1)

In [28]:
# from nameparser import HumanName
# import pandas as pd
# import time
 
# df = pd.DataFrame(df6)
# df["names"]= df["Name"]
# # time.sleep(5)
# df["title"] = df["Name"].apply(lambda x: HumanName(x).title)
# df["first"] = df["Name"].apply(lambda x: HumanName(x).first)
# df["middle"] = df["Name"].apply(lambda x: HumanName(x).middle)
# df["last"] = df["Name"].apply(lambda x: HumanName(x).last) 

# df.drop('Name', axis=1)

In [38]:
#EXCEL CONVERSION
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
writer = pd.ExcelWriter(r'NameParsing.xlsx', engine='xlsxwriter')
df.to_excel(writer,index=False)
writer.save()
writer.close()

c:\python39\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")